:root{
    --primary-color: #3C3C3C;
    --highlight-color: #FF9E44;
    --secondary-color: #FFFFFF;
    --darker-background: #2C2C2C;
}

*{
    font-family: "Rubik", sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
}

nav{
    background-color: #EDEDED;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 14px 63px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000025;

    a{
        text-decoration: none;
        color: var(--primary-color);
    }
    
}

#listaNav{
    display: flex;

    li{
        padding-left: 73px;
    }
    
    li:last-child{
        font-weight: bold;
    }
}

#home{
    background-color: var(--darker-background);
    padding-top: 60px;
    display: flex;
    justify-content: space-between;

    #fotoHome{
        background-image: url(assets/photos/IMG_9579.JPG);
        width: 40vw;
        height: 100vh -65px;
        background-position: center;
        background-size: cover;
    }
    
    #homeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        align-items: center;
        gap: 20px;
    }

    h1{
        color: var(--secondary-color);
        font-size: 3.8rem;
    }

    h2{
        color: #B6B6B6;
        font-weight: 400;
        font-size: 2.4rem;
        padding-bottom: 40px;
    }
    
}

#sobre{
    background-color: var(--highlight-color);
    display: flex;
    

    #sobreTextContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        padding-top: 60px;
        text-align: justify;
        

        #sobreTextItem{
            width: 80%;
        }
        
    }

    h1{
        color: var(--secondary-color);
        font-size: 3.8rem;
    }

    p{
        color: var(--secondary-color);
        font-size: 1.8rem;
        padding: 45px 0 56px 0;
        line-height: 2.3rem;
        
    }
    
    #fotoSobre{
        background-image: url(assets/photos/Imagem\ do\ WhatsApp\ de\ 2025-02-10\ à\(s\)\ 10.46.38_c8fcb8dd.jpg);
        width: 40vw;
        height: 100vh -65px;
        background-position: center;
        background-size: cover;
    }
    
}

#skills{
    background-image: url(assets/photos/pexels-goumbik-574073.jpg);
    background-size: cover;
    background-position: center;
    
    #overlay{
        height: 100vh;
        width: 100%;
        background-color: #FFFFFF70;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        color: var(--darker-background);
        font-size: 3.8rem;
        padding-bottom: 50px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        gap: 30px;
        justify-content: center;
    }

    li{
        background-color: #00000039;
        border-radius: 8px;
        padding: 12px 17px;
        color: var(--secondary-color);
        font-size: 1.93rem;
    }
}

#contato{
    background-color: #2343E3;
}

.defaultButton{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 13px;
    color: var(--secondary-color);
    cursor: pointer;
    a{
        padding-left: 10px;
        text-decoration: none;
        color: var(--secondary-color);
    }
}

.downloadButton{
    background-color: var(--highlight-color);
}

.linkedinButton{
    
    background-color: #FFFFFF30;
}

#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

   #textoContato{
    h1{
        color: var(--secondary-color);
        font-size: 5rem;
        text-decoration: underline;
    }
    
    p{
        color: var(--secondary-color);
        font-size: 2.6rem;
        line-height: 2.3rem;
        padding-top: 60px;
        text-align: center;
        width: 60vw;
    }
   }
}

#email{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    p{
        color: var(--secondary-color);
        font-size: 1.7rem;
    }

    img{
        width: 32px;
    }
}

#telefone{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    p{
        color: var(--secondary-color);
        font-size: 1.7rem;
    }

    img{
        width: 32px;
    }
}

#botoes{
    display: flex;
    padding-top: 40px;
    gap: 20px;
    
    img{
        width: 64px;
        height: 64px;
    }
}

#projetos{
    background-color: var(--darker-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projetosLink{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border: 2px solid var(--secondary-color);
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 20px;
    min-width: 400px;

    h1{
        color: #B6B6B6;
        font-size: 40px;
    }

    p{
        color: var(--secondary-color);
        font-size: 28px;
        padding-top: 20px;
        height: 200px;
    }
}

#projetosContainer{
    display: flex;
    align-items: center;
    padding: 200px 0px 90px 135px;
    gap: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-right: 20px;
    
        
}

#titulo{
    color: var(--secondary-color);
    font-size: 3.8rem;
    padding: 100px 0 0 136px;
    height: 100px;
}

.gitbutton{
    background-color: var(--highlight-color);
    border-radius: 15px;

    img{
        width: 32px;
    }
}

@media (orientation: portrait){
    #home{
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #fotoHome{
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
            margin-bottom: 3.5rem;
        }

        h1{
            font-size: 2.6rem;
            text-align: center;
        }

        h2{
            font-size: 1.7rem;
            text-align: center;
            
        }

        #homeContent{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    #fotoSobre{
        display: none;
    }

    #sobre{
        #sobreTextContainer{
            width: 100vw;

            #sobreTextItem{
                align-items: center;
            }
        }
    }

    #skills{
        ul{
            max-width: 300px;
        }

        li{
            text-align: center;
        }
    }

    #contato{
        #textoContato{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            p{
                width: 80vw;
            }
        }

    }

    #email{
        display: flex;
        gap: 20px;
        align-items: center;
        padding-top: 20px;
        p{
            color: var(--secondary-color);
            font-size: 1.3rem;
        }
    
        img{
            width: 24px;
        }
    }
    
    #telefone{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        p{
            color: var(--secondary-color);
            font-size: 1.3rem;
        }
    
        img{
            width: 24px;
        }
    }
    
    #botoes{
        display: flex;
        padding-top: 40px;
        gap: 20px;
        
        img{
            width: 32px;
            height: 32px;
        }
    }

    #titulo{
        display: flex;
        justify-content: center;
        padding: 0 0 0 0;
    }

    #projetosContainer{
        padding: 100px 0px 20px 15px;
    }
}


@media (max-width: 500px){
    nav{
        display: none;
    }
}